@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500;1,700;1,900&display=swap'); */

*{
    font-family: 'Roboto', sans-serif;
}

main{
    margin: 0 auto;
    width: 1250px;
    min-height: 90vh;
}

.btn-round{
    padding: 1px 3px;
}